@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
    */

body {
    background-color: rgb(132, 187, 132);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(40, 105, 40);
}
#principal {
    text-align: center;
    background-color: rgb(40, 105, 40);
    color: white;
}
h2 {
    color: rgba(16, 92, 16, 0.596);
}
.basico {
    color: rgba(63, 167, 42, 0.836);
}
.intermediario {
    color: yellow;
}
.avancado {
    color: red;
}
.destaque {
    background-color: yellow;
}
